---
const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL.href} />
